@import "./var";

:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E212C;
    font-weight: 400;
}

.footer{
    width: $structureWidth;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    margin-top: 81px;
    margin-bottom: 60px;
    column-gap: 80px;
}

.footerList{
    display: flex;
    flex-direction: column;
}

.listEl{
    list-style-type: none;
}


p,li,h1,h6,.textAndSvg{ color:white}

p,li,.textAndSvg {
    opacity: 0.6;
}
li,.textAndSvg{width: fit-content;}

li:hover,.textAndSvg:hover {
    opacity: 0.9;
}

li,.textAndSvg{
    margin-bottom: 8px;
}

p{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

h1{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 12px;
}   


.textAndSvg{
    cursor: pointer;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    font-size: 16px;
    line-height: 160%;
}

//li first


.companyInfo{
    margin-top: 25px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.footerLinks{
    column-gap: 25px;
    min-height: 18px;
    opacity: 0.6;
}


//li last

h1{
    width: 100%;
}
h6{
    margin-top: 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
}

.inputField{
    position: relative;
}

input{
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    opacity: 0.6;
    color: white;
    margin-top: 12px;
    padding: 9px;
    padding-left: 12px;
    font-size: 14px;
    width: 100%;
}

.arrow{
    position: absolute;
    top: 27px;
    right: 14px;
    width: 12px;
    height: 8px;
    cursor: pointer;
}


//copywrite

.copyrightContent{
    height: 58px;
    width: $structureWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyrightContent::before{
    content: '';
    height: 58px;
    width: 100%;
    position: absolute;
    left: 0;
    background: #FFFFFF;
    opacity: 0.05;
}


span,h2{color: white;}

span{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    opacity: 0.6;
    cursor: pointer;
}

.loveSvg{
    margin-left:4px;
    margin-right: 4px;
}