@import "./_var";

li,.logArea{
    color: #424551;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    cursor: pointer;}

    .navListEl:hover,.link:hover,span:hover{
        color:#FF3F3A;
    }
    

:host{
    margin-top: 20px;
    width: $structureWidth;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 3fr 2fr;
}


.navList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    column-gap: 40px;
}


.cta{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn{       
    min-height: 52px;
}

.logArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    cursor: pointer;

    span{
        margin-left: 10px;
    }

    .link{
        background: #424551;
        min-width: 18px;
        min-height: 17px;
    }
}
