<style>

    .rememberMe{
        display: flex;
        flex-direction: row;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
</style>
<div class="cross"></div>
<h1>Sign up</h1>
<p>Registration takes less than a minute but gives you full control<br>over your studying.</p>
<div class="inputDataPanel">
    <app-input *ngFor="let inputs of inputForms" [data]="inputs"></app-input>
    <div class="rememberMe">
        <app-checkbox [data]="checkboxData"></app-checkbox>
    </div>
</div>
<button class="btn">Sign Up</button>
<span>Already have an account? <span class="linkText" (click)="onChangeSecondModal($event,false)">Sign in</span></span>
<div class="line"></div>
<p>Or sign in with</p>
<app-modal-links></app-modal-links>