<div class="blog_top">
  <div class="article">
    <div class="article_header">
      <div class="article_meta">
        <mat-icon class="material-icons-outlined mirror">description</mat-icon>
        <span>Article</span>
        |
        <span class="redColor">HR & Recruting</span>
      </div>
      <h1>HR statistics: job search, interviews, hiring and recruiting</h1>

      <div class="article_inf_meta">
        <div class="article_meta">
          <mat-icon class="material-icons-outlined">calendar_today</mat-icon>
          <span class="meta_add_margin">August 3, 2020</span>
          <mat-icon>access_time</mat-icon>
          <span>4 min read</span>
        </div>
        <div class="article_meta links">
          <span class="share_text">Share:</span>
          <app-follow-links
            class="links"
            [linksArr]="article_links"
          ></app-follow-links>
        </div>
      </div>
    </div>

    <img class="article_img" src="assets/blog/image.png" alt="img" />
    <div class="article_body">
      <h3>
        Vulputate vitae pellentesque scelerisque luctus consequat mattis
        pellentesque dui odio. Interdum aenean sit malesuada ornare sed gravida
        rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac euismod.
      </h3>
      <p>
        At facilisi sapien posuere eget nunc senectus proin nullam. Tortor
        senectus in et sagittis, vitae diam cras dignissim. Varius adipiscing
        eget diam nisi. Orci, consectetur vulputate metus ornare pharetra,
        neque, fermentum. Vel nec rhoncus, non nunc, neque in massa. Feugiat leo
        nam nisl lacinia amet, odio. Mi varius viverra risus vel. <br /><br />
        Amet, morbi sed pharetra, elit eget mi potenti. Condimentum orci
        interdum feugiat lectus libero duis. Nisl massa, elementum varius sit.
        Nunc felis, porttitor aliquam urna, accumsan et sed. Aliquet non sed
        duis diam vehicula rhoncus. In dictum nullam tincidunt semper
        pellentesque purus morbi sed. Ut aliquet velit pharetra, nisi nunc, non.
      </p>
      <div class="article_body_specialText">
        <div class="braces">
          <mat-icon svgIcon="rectangle"></mat-icon>
          <mat-icon svgIcon="rectangle"></mat-icon>
        </div>
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet
          lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed
          purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue
          tortor in tot euismod vulputate etiam eros. Vel accumsan at elit
          neque, ipsum.
        </h3>
      </div>
      <p>
        Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut sed id ut erat
        mattis. Vitae mus blandit in neque amet non fringilla blandit:
      </p>
      <ul class="article_body_list">
        <li>
          <mat-icon>task_alt</mat-icon>A fermentum in morbi pretium aliquam
          adipiscing donec tempus.
        </li>
        <li>
          <mat-icon>task_alt</mat-icon>Vulputate placerat amet pulvinar lorem
          nisl.
        </li>
        <li>
          <mat-icon>task_alt</mat-icon>Consequat feugiat habitant gravida
          quisque elit bibendum id adipiscing sed.
        </li>
        <li>
          <mat-icon>task_alt</mat-icon>Etiam duis lobortis in fames ultrices
          commodo nibh.
        </li>
      </ul>
      <p>
        Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id
        nec sed leo. Nisi in ornare lectus eget. Urna, risus, consectetur
        volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur
        neque ut aliquam eros, purus enim dignissim aenean vitae. Ultrices fames
        augue mattis tortor est justo, pharetra nibh risus. Facilisi at
        porttitor volutpat natoque proin amet, nulla. Vivamus ut lobortis
        sagittis curabitur tellus convallis eget netus vitae.
      </p>
    </div>
    <div class="article_bottom">
      <div class="article_meta tags">
        <span class="share_text">Tags:</span>
        <div class="tag">#learning</div>
        <div class="tag">#HR</div>
        <div class="tag">#self-development</div>
      </div>
      <div class="article_meta links">
        <span class="share_text">Share: </span>
        <app-follow-links
          class="links"
          [linksArr]="article_links"
        ></app-follow-links>
      </div>
    </div>
  </div>

  <div class="sideBar">
    <input class="input" placeholder="Search blog..." />
    <mat-icon class="search_input_icon">search</mat-icon>
    <div class="sideBar_panel">
      <h2>AUTHOR</h2>
      <div class="sideBar_panel_content">
        <img src="assets/blog/Sidebar_author.png" alt="AUTHOR" />
        <div class="data">
          <span class="authorName">Kristin Watson</span>
          <span class="authorInfo">Curator of Marketing Course</span>
          <app-follow-links
            class="links"
            [linksArr]="author_links"
          ></app-follow-links>
        </div>
      </div>
    </div>
    <div class="sideBar_panel">
      <h2>Trending Articles</h2>
      <div class="sideBar_panel_content">
        <img src="assets/blog/Sidebar_article0.jpg" alt="Article" />
        <div class="data">
          <div class="article_meta">
            <mat-icon class="material-icons-outlined">calendar_today</mat-icon>
            <span class="meta">September 4, 2020</span>
          </div>
          <span class="title"
            >What is traffic arbitrage and does it really make money?</span
          >
        </div>
      </div>
      <div class="sideBar_panel_content">
        <img src="assets/blog/Sidebar_article1.jpg" alt="Article" />
        <div class="data">
          <div class="article_meta">
            <mat-icon class="material-icons-outlined">calendar_today</mat-icon>
            <span class="meta">July 15, 2020</span>
          </div>
          <span class="title"
            >Startup: how to build a team that will live longer than a
            year</span
          >
        </div>
      </div>
      <div class="sideBar_panel_content">
        <img src="assets/blog/Sidebar_article2.jpg" alt="Article" />
        <div class="data">
          <div class="article_meta">
            <mat-icon class="material-icons-outlined">calendar_today</mat-icon>
            <span class="meta">August 2, 2020</span>
          </div>
          <span class="title"
            >What to do if you want to get feedback on the product</span
          >
        </div>
      </div>
    </div>
    <div class="sideBar_panel">
      <h2>Tags</h2>
      <div class="sideBar_tags">
        <div class="tag">#marketing</div>
        <div class="tag">#recruiting</div>
        <div class="tag">#coding</div>
        <div class="tag">#learning</div>
        <div class="tag">#HR</div>
        <div class="tag">#self-development</div>
      </div>
    </div>
  </div>
</div>

<app-subscribe></app-subscribe>

<div class="our_blog">
  <div class="our_blog_top">
    <div class="header">
      <h2>Our blog</h2>
      <h1>You may also like</h1>
    </div>
    <div class="blog_arrows">
      <mat-icon class="blog_arrow rev">arrow_right_alt</mat-icon>
      <mat-icon class="blog_arrow">arrow_right_alt</mat-icon>
    </div>
  </div>
  <div class="cards">
    <app-blog-card
      *ngFor="let card of cards; index as i"
      [data]="card"
      [dataIndex]="i"
    ></app-blog-card>
  </div>
  <div class="view_more">
    <h2>Do you want more articles, podcasts and videos?</h2>
    <button class="btn">Go to blog</button>
  </div>
</div>
<router-outlet name="modal" class="outlet"></router-outlet>
