:host(.page){
    width: 100%;
    height: 100%;
    flex: 1;
    overflow-x: hidden;
}
:host{
    position: relative;
}


.graphsField{
    width: 100%;
    height: 100%;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4,800px);
    gap:100px;
    overflow-x: scroll;
}

.graphs{
    position: relative;
}


.graph{
    width: 100%;
    min-width:800px ;
    min-height: 400px ;
}

.fullsize_btn{
    cursor: pointer;
    position: absolute;
    right:0px;
    top: 0;
}

.final{
    margin: 80px auto;
    width: fit-content;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}