@import '../../../../../styles/var';

.sideBar {
    height: 100%;
    margin-left: 78px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    position: relative;

    .input {
        height: 44px;
    }

    .search_input_icon {
        cursor: pointer;
        color: #9A9CA5;
        position: absolute;
        top: 14px;
        right: 16px;
        font-size: 18px;
        width: 14px;
        height: 14px;
    }

    &_panel {
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        &_content {
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            align-items: center;

            .data {
                display: flex;
                flex-direction: column;
                row-gap: 4px;

                img {
                    object-fit: cover;
                    border-radius: 4px;
                }

                .authorName,
                .authorInfo,
                .title {
                    cursor: pointer;

                    &:hover {
                        color: $active-color;
                    }
                }


                .authorName {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 150%
                }

                .authorInfo {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                }

                .links {
                    column-gap: 14px;
                    margin-top: 18px;
                }

                .article_meta {
                    color: #787A80;

                    .meta {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                    }

                    mat-icon {
                        width: 15px;
                        height: 15px;
                        font-size: 15px;
                    }
                }

                .title {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 160%;
                }
            }


        }
    }

    &_tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
    }
}