
p,li,h1,h6,.textAndSvg{ color:white}

p,li,.textAndSvg {
    opacity: 0.6;
}
li,.textAndSvg{width: fit-content;}

li:hover,.textAndSvg:hover {
    opacity: 0.9;
}

li,.textAndSvg{
    margin-bottom: 8px;
}

p{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

h1{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 12px;
}   

li{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    list-style-type: none;
    cursor: pointer;
}

.textAndSvg{
    cursor: pointer;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
}
