<footer class="footer">

    <div class="footerList">
        <img src="../../../assets/logo/logo_white.svg" class="logo" alt="Createx">
        <p class="companyInfo">Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country.</p>
        <app-follow-links class="footerLinks" [linksArr]="social_networks" [color]="'white'"></app-follow-links>
    </div>

    <div class="footerList">
        <h1>SITE MAP</h1>
        <ul class="listEl">
            <li *ngFor="let links of siteMapLinks" href="">{{links.name}}</li>
        </ul>
    </div>

    <div class="footerList">
        <h1>COURSES</h1>
        <ul class="listEl">
            <li *ngFor="let links of coursesLinks" href="">{{links.name}}</li>
        </ul>
    </div>

    <div class="footerList">
        <h1>CONTACT US</h1>
        <div class="textAndSvg">
            <div class="link phone_img"></div> 
            <span>(405) 555-0128</span>
        </div>
        <div class="textAndSvg">
            <div class="link mail_img"></div> 
            <span>hello@createx.com</span>
        </div>
    </div>

    <form class="footerList">
        <h1>SIGN UP TO OUR NEWSLETTER</h1>
        <div class="inputField">
            <input type="email" placeholder="Email address">
            <div class="arrow"></div>
        </div>
        <h6>*Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.</h6>
    </form>
</footer>

<div class="copyrightContent">
    <div class="copyright_left">
        <span>© All rights reserved. </span>
        <span>Made with</span>
        <div class="copyright_love_img"></div>
        <span>by Createx Studio</span>
    </div>
    <h2>GO TO TOP</h2>
</div>