.map{
    width: 100%;
    height:auto;
    margin-top: 32px;
    //min-width: 705px;
    //min-height: 412px;
}

.contactsInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contactAdressForm{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    font-weight: 700;
}
    
.contactAdressFormData{
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    cursor: pointer;
}

.link{background-color: #FF3F3A;min-width: 22px; min-height: 14px;}

.h2bottom{
    margin-top: 48px;
    margin-bottom: 27px;
}

.links{ 
    min-height: 24px;
    column-gap: 33px;}