<h2>ANY QUESTIONS?</h2>
<h1>Drop us a line</h1>
<div class="askForm">
    <app-input *ngFor="let input of inputs" [data]="input"></app-input>
    <div class="bigTextArea">
        <label for={{lastInput.labelName}}>{{lastInput.labelName}}</label>
        <textarea class="bigText"
            name={{lastInput.labelName}} 
            required={{lastInput.required}}
            placeholder={{lastInput.placeholder}}>
        </textarea>
    </div>
</div>
<div class="sendForm">
    <app-checkbox [data]="checkboxData"></app-checkbox>
    <button class='btn'>asdas</button>
</div>
