<mat-card class="card">
        <div class="badge">
            <mat-icon>mic_none</mat-icon>
            <span>{{data.type}}</span>
        </div>
        <img class="img" colorful mat-card-image src={{imgPath}} alt={{data.title}}>
    <mat-card-content class="content">

            <div class="meta">
                <span>{{data.theme}}</span>
                |
                <span>{{data.date}}</span>
                <div *ngIf="data.type==='Podcast'; then timeBlock"></div>
                <ng-template #timeBlock>
                    |
                    <span>{{data.time}}</span>
                </ng-template>
            </div>

            <mat-card-title class="title">{{data.title}}</mat-card-title>

        <p>{{data.text}}</p>

        <mat-card-actions class="link">
            <span>{{linkName}}</span>
            <mat-icon class="link_arrow">arrow_right_alt</mat-icon>
        </mat-card-actions>

    </mat-card-content>
</mat-card>