<div class="pagToolbar">
    <div class="tabs">
        <div
            *ngFor="let typeTab of typeTabs"
            class="tab"
            [ngClass]="{ tab_active: sortBlogPars.type == typeTab.par }"
            (click)="sortCards('type', typeTab.par)">
            <mat-icon *ngIf="typeTab.icon" [svgIcon]="typeTab.icon"></mat-icon>
            <label>{{ typeTab.name }}</label>
        </div>
    </div>

    <div class="tabs">
        <div class="category">
            <label>Blog category</label>
            <select
                class="theme-select"
                #selectEl
                (change)="sortCards('theme', $any($event.target).value)">
                <option value="all" selected>all themes</option>
                <option *ngFor="let option of selectOptions" [value]="option">
                    {{ option }}
                </option>
            </select>
            <div class="theme-select_arrow"></div>
        </div>
        <input class="input" placeholder="Search blog..." #searchInput />
        <mat-icon
            class="search_input_icon"
            (click)="sortCards('title', searchInput.value)">
            search
        </mat-icon>
    </div>
</div>
