p{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

h1{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
}

span{
    font-weight: 400;
font-size: 14px;
line-height: 150%;
align-self:flex-start
}

.line{
    height: 1px;
    background-color: #E5E8ED;
    width: calc(100% + 96px);
}


.linkText{
    color: #FF3F3A;
    cursor: pointer; 
    width: 100%;  
    text-align: right;
}

.inputDataPanel{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    font-size: 14px;
    line-height: 150%;
}

.btn{
    height: 44px;
}


.cross {
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0.3;
    top: 28px;
    right: 28px;
    cursor: pointer;
    opacity: 0.3;
}

.cross:hover {
    opacity: 1;
  }
  .cross:before, .cross:after {
    position: absolute;
    left: 7px;
    top: -2px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .cross:before {
    transform: rotate(45deg);
  }
  .cross:after {
    transform: rotate(-45deg);
  }
  