<div class="dialog" (click)="ClickOnDialog($event)">
    <div class="cross" (click)="onChangemodalVis(false)"></div>

    <div *ngIf="regModal; then reg else login"></div>

    <ng-template #reg>
        <form class="form">
            <h1>Sign up</h1>
            <p>Registration takes less than a minute but gives you full control<br>over your studying.</p>
            <div class="inputDataPanel">
                <app-input *ngFor="let inputs of regForm" [data]="inputs"></app-input>
                <div class="checkboxModal">
                    <app-checkbox [data]="checkboxData"></app-checkbox>
                </div>
            </div>
            <button class="btn">Sign Up</button>
            <span>Already have an account? <span class="linkText" (click)="dialogFormChange()">Sign in</span></span>
        </form>
    </ng-template>

    <ng-template #login>
        <form class="form">
            <h1>Sign in</h1>
            <p>Sign in to your account using email and password provided<br>during registration.</p>
            <div   div class="inputDataPanel">
                <app-input *ngFor="let inputs of loginForm" [data]="inputs"></app-input>
                <div class="checkboxModal">
                    <app-checkbox [data]="checkboxData"></app-checkbox>
                    <span class="linkText">Forgot password?</span>
                </div>
            </div>
            <button class="btn">Sign In</button>
            <span>Don't have an account? <span class="linkText" (click)="dialogFormChange()">Sign up</span></span>
        </form>
    </ng-template>
    <div class="line"></div>
    <p>Or sign in with</p>
    <app-follow-links class="links_soc" [linksArr]=" social_links"></app-follow-links>
</div>

