<style>
    :host{
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 48px;
    }

    h1{
        padding-bottom: 24px;
    }

    .inputDataPanel{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .forgotPanel{
        display: flex;
        flex-direction: row;
    }
</style>

<h1>Sign in</h1>
<p>Sign in to your account using email and password provided during registration.</p>
<div class="inputDataPanel">
    <app-input></app-input>
    <app-input></app-input>
    <div class="forgotPanel">
        <app-checkbox></app-checkbox>
        <span class="linkText">Forgot password?</span>
    </div>
</div>
<button class="btn">Sign In</button>
<span>Don't have an account? <span class="linkText" (click)="onChangeSecondModal($event,true)">Sign up</span></span>
<div class="line"></div>
<p>Or sign in with</p>
<app-modal-links></app-modal-links>