<style>
    .forgotPanel{
        display: flex;
        flex-direction: row;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
</style>
<div class="cross"></div>
<h1>Sign in</h1>
<p>Sign in to your account using email and password provided<br>during registration.</p>
<div class="inputDataPanel">
    <app-input *ngFor="let inputs of inputForms" [data]="inputs"></app-input>
    <div class="forgotPanel">
        <app-checkbox [data]="checkboxData"></app-checkbox>
        <span class="linkText">Forgot password?</span>
    </div>
</div>
<button class="btn">Sign In</button>
<span>Don't have an account? <span class="linkText" (click)="onChangeSecondModal($event,true)">Sign up</span></span>
<div class="line"></div>
<p>Or sign in with</p>
<app-modal-links></app-modal-links>