:host{
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    position: fixed;
    display: flex;
    overflow: auto;
}

.dialog {
    margin: auto;
    background: white;
    align-items: center;
    padding: 48px;
    position: relative;
}

.form,.dialog{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
}

.cross {
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0.3;
    top: 28px;
    right: 28px;
    cursor: pointer;
    opacity: 0.3;
}

.cross:hover {
    opacity: 1;
}
.cross:before, .cross:after {
    position: absolute;
    left: 7px;
    top: -2px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.cross:before {
    transform: rotate(45deg);
}
.cross:after {
    transform: rotate(-45deg);
}


p{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

h1{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
}

span{
    font-weight: 400;
font-size: 14px;
line-height: 150%;
align-self:flex-start
}

.line{
    height: 1px;
    background-color: #E5E8ED;
    width: calc(100% + 96px);
}


.linkText{
    color: #FF3F3A;
    cursor: pointer; 
    width: 100%;  
    text-align: right;
}

.links_soc{
    min-height: 18px;
    column-gap: 18px;
    color: #787A80;
}

.inputDataPanel{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    font-size: 14px;
    line-height: 150%;
}

.btn{
    height: 44px;
}

.checkboxModal{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

