:host {
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.main {
    max-width: 0;
    max-height: 0;
}