:host {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.navbar{
    width: 64%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 3fr 2fr;
}

.nav_userInterection{
    display: flex;
    flex-direction: row;
}

.btn{
    height: 52px;
}

.logArea{
    margin-left: 37px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    width: 100%;
    cursor: pointer;
}

.logArea:hover{
    color:#FF3F3A;
}