<div class="contactsArea">
    <div class="contactsInfo">
        <h2 class="h2top">CONTACT INFO</h2>
        <h1>Get in touch</h1>
        
        <div class="contactAdressForm">
            <div class="link chat_img"></div> 
            <div class="contactAdressFormData">
                <label>Talk to us:</label>
                <span>hello@createx.com</span>
            </div>
        </div>
        
        <div class="contactAdressForm">
            <div class="link phone_img"></div> 
            <div class="contactAdressFormData">
                <label>Call us:</label>
                <span>(405) 555-0128</span>
            </div>
        </div>
        
        <div class="contactAdressForm">
            <div class="link outline_img"></div> 
            <div class="contactAdressFormData">
                <label>Address:</label>
                <span>2464 Royal Ln. Mesa, New Jersey 45463, USA</span>
            </div>
        </div>
        
        <h2 class="h2bottom">FOLLOW US:</h2>
        <app-follow-links class="links" [linksArr]="social_networks"></app-follow-links>
    </div>
    <div id="map" class="map"></div>
</div>

<div class="askArea">
    <img class="img askImg"  src="../../../assets/contacts/Askform_illustration.svg" alt="ASK US">
    <div class="askForm">
        <h2 class="h2top">ANY QUESTIONS?</h2>
        <h1>Drop us a line</h1>
        <div class="askInputArea">
            <app-input *ngFor="let input of inputs" [data]="input"></app-input>
            <div class="mesArea">
                <label for={{lastInput.labelName}}>{{lastInput.labelName}}</label>
                <textarea class="mes"
                    name={{lastInput.labelName}} 
                    required={{lastInput.required}}
                    placeholder={{lastInput.placeholder}}></textarea>
            </div>
        </div>
        <div class="sendForm">
            <app-checkbox class="agreeChekbox" [data]="checkboxData"></app-checkbox>
            <button class='btn'>Send message</button>
        </div>
    </div>
</div>


