@import '../../../styles/var';
@import '../pagesStyle';

:host {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    width: 100%;
    align-items: center;
}

.title {
    text-align: center;

    h1 {
        margin-bottom: 0;
    }
}

.articleList {
    max-width: $structureWidth;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 30px;

    .card {
        grid-column: span 3;
    }

    .middle-big-card {
        grid-column: span 5;
    }

    .middle-small-card {
        grid-column: span 4;
    }
}


.pagination {
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    &_arrow,
    &_number {
        color: #424551;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;

        &:hover,
        &_active {
            color: $active-color;
        }
    }

}