<div class="title">
    <h2>Our blog</h2>
    <h1>Createx School Journal</h1>
</div>

<app-sort-panel></app-sort-panel>

<div
    class="articleList"
    *ngIf="(sortedBlogs$ | async)?.length; else EmptyPostsMes">
    <app-blog-card
        *ngFor="let card of (sortedBlogs$ | async)?.blogs; index as i"
        class="card"
        (click)="openPost(i)"
        [data]="card"
        [ngClass]="{
            'middle-big-card': i == 3,
            'middle-small-card': i == 4
        }"></app-blog-card>
</div>

<ng-template #EmptyPostsMes>
    <h1>Blogs not found</h1>
</ng-template>

<div *ngIf="pageNumbers.length > 1" class="pagination">
    <div
        *ngFor="let numb of pageNumbers"
        class="pagination_number"
        [ngClass]="{ pagination_number_active: numb === curentPage }"
        (click)="setPage(numb)">
        {{ numb }}
    </div>
    <mat-icon
        class="pagination_arrow"
        (click)="setPage(curentPage + 1)"
        *ngIf="pageNumbers.length != curentPage">
        arrow_right_alt
    </mat-icon>
</div>

<app-subscribe></app-subscribe>

<router-outlet name="modal" class="outlet"></router-outlet>
