:host{
    width: 100%;
    height: 100%;
    margin-left: 49px;
}

.contactAdressForm{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.contactAdressFormData{
    display: flex;
    flex-direction: column;
    margin-left: 13px;
}


.h2bottom{
    margin-top: 48px;
    margin-bottom: 27px;
}

.linksGap{column-gap:33px}