@import "../../styles/_var.scss";

:host{
    padding-top: 124px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 16px;
}

:host * {
    color:#1E212C;
}

.contactForm, .askForm{
    display: flex;
    flex-direction: row;
}

.contactForm{
    width: $structureWidth;
}

.askForm{
    width: $structureWidth;
    height: 100%;
    margin-top: 168px;
    margin-bottom: 180px;
}

.img{
    object-fit: cover;
}

.map{
    margin-top: 32px;
    width: 705px;
    height: 412px;
}

.askImg{
    padding-top: 67px;
    padding-bottom: 66px;
    margin-right: 105px;
}

