/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
}

.logo{
    cursor: pointer;
    width: fit-content;
}

.link{mask-size: cover;}

.chat_img{mask: url('./assets/contacts_img/Chat.svg') no-repeat center;}
.phone_img{mask: url('./assets/contacts_img/iPhone.svg') no-repeat center;}
.mail_img{mask: url('./assets/contacts_img/Mail.svg') no-repeat center;}
.outline_img{mask: url('./assets/contacts_img/outline.svg') no-repeat center;}

.person_img{mask: url('./assets/Person.svg') no-repeat center;}

.copyright_love_img{mask: url('./assets/copyright_heart.svg') no-repeat center;}

.eye{mask: url('./assets/input_img_svg/Eye.svg') no-repeat center}
.arrow{mask: url('./assets/input_img_svg/Arrow.svg') no-repeat center}


.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    gap: 10px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.btn:hover{
    background: white;
    color: #F75E05;
    border: 2px solid #F75E05;
}