@import '../../../styles/var';

@mixin changeColor() {
    min-height: 23px;
    min-width: 24px;
    height: 100%;
    cursor: pointer;
    color: inherit;

    &:hover {
        color: $active-color;
    }
}

:host {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .soc_link {
        @include changeColor();

    }
}