:host{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}

:host *{
    cursor: pointer;
}

:host *:hover, :host *:hover *{
    fill:#FF3F3A;
}