<style>
    h6{
        margin-top: 12px;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
    }

    input{
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        opacity: 0.6;
        color: white;
        margin-top: 12px;
    }

    .inputBtn{
        position: absolute;
        width: 12px;
        height: 7px;
    }
</style>

<h1>SIGN UP TO OUR NEWSLETTER</h1>
<form>
    <input type="email" placeholder="Email address">
    <button class="inputBtn"></button>
</form>
<h6>*Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.</h6>